.dashboard-section {
  margin: 1.5rem auto 0;
  width: 90%;
  max-width: 1280px;
  border: 2px solid var(--primary-hover);
  position: relative;
}
.dashboard-filters {
  display: flex;
  flex-flow: row;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--primary-hover);
  background-color: var(--bg--gray-900);
}
.dashboard-filters h2 {
  width: 50%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}
.dashboard-filters h2:hover {
  text-underline-offset: 10px;
  text-decoration: underline var(--primary-hover) solid 3px;
}
.dashboard-filters h2.active {
  background-color: var(--primary-hover);
  font-weight: 800;
  transition: font-weight 0.3s, background-color 0.3s ease-in;
}
.dashboard-filters h2:first-child {
  border-right: 2px solid var(--primary-hover);
}

.dashboard-list {
  display: flex;
  padding: 2rem;
  margin: 2rem;
  flex-flow: row;
  border-radius: 1rem;
  border: 1px solid var(--primary-hover);
  background-color: var(--bg--gray-900);
}
.dashboard-list-number {
  width: 5%;
}
.dashboard-list-info {
  width: 40%;
}
.dashboard-list-date {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  width: 15%;
  color: #ffffff;
}
.dashboard-list-playAgain {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.dashboard-list-status {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.dashboard-list-status h1 {
  font-size: 1.4rem;
  padding: 0.5rem;
}
.dashboard-list-status .success {
  background-color: var(--success-color);
}
.dashboard-list-status .danger {
  background-color: var(--danger-color);
}
